apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: infra-kube-prometheus-stack
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  sources:
    - repoURL: https://prometheus-community.github.io/helm-charts
      chart: kube-prometheus-stack
      targetRevision: "82.4.3"
      helm:
        releaseName: kube-prometheus-stack
        valueFiles:
          - $values/argocd/clusters/superbloom/infra/kube-prometheus-stack/values.yaml
    - repoURL: https://github.com/saavy1/sb.git
      targetRevision: main
      ref: values
  syncPolicy:
    automated:
      prune: false
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ApplyOutOfSyncOnly=true
      - ServerSideApply=true
      - ServerSideDiff=true
      - SkipDryRunOnMissingResource=true
