domain: saavylab.dev

pod:
  kind: Deployment
  replicas: 1
  extraVolumeMounts:
    - name: users
      mountPath: /config/users.yaml
      subPath: users.yaml
  extraVolumes:
    - name: users
      secret:
        secretName: authelia-users

ingress:
  enabled: false

configMap:
  authentication_backend:
    file:
      enabled: true
      path: /config/users.yaml

  session:
    cookies:
      - domain: saavylab.dev
        subdomain: auth
        authelia_url: https://auth.saavylab.dev
    redis:
      enabled: false

  storage:
    local:
      enabled: true
      path: /config/db.sqlite3

  notifier:
    filesystem:
      enabled: true
      filename: /config/notifications.txt

  access_control:
    default_policy: deny
    rules:
      - domain: auth.saavylab.dev
        policy: bypass
      - domain: "*.saavylab.dev"
        policy: one_factor

persistence:
  enabled: true
  storageClass: local-path
  size: 1Gi

secret:
  existingSecret: authelia-secrets
