# Dependencies
node_modules/

# Build output
dist/

# Environment files
.env
.env.*
!.env.example

# SQLite databases
*.sqlite
*.sqlite-wal
*.sqlite-shm

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Testing
coverage/

# Misc
*.pem
*.trace
*.zip
*.tar.gz
*.tgzsrc/frontend/dist/
