cluster:
  name: superbloom

destinations:
  - name: local-prometheus
    type: prometheus
    url: http://kube-prometheus-stack-prometheus.monitoring.svc.cluster.local:9090/api/v1/write

  - name: local-loki
    type: loki
    url: http://loki-gateway.monitoring.svc.cluster.local:80/loki/api/v1/push

  - name: local-tempo
    type: otlp
    url: http://tempo.monitoring.svc.cluster.local:4317
    protocol: grpc
    metrics:
      enabled: false
    logs:
      enabled: false
    traces:
      enabled: true

clusterMetrics:
  enabled: true
  kepler:
    enabled: false

annotationAutodiscovery:
  enabled: false

prometheusOperatorObjects:
  enabled: false

clusterEvents:
  enabled: true

nodeLogs:
  enabled: true

podLogs:
  enabled: true

applicationObservability:
  enabled: true
  receivers:
    otlp:
      grpc:
        enabled: true
        port: 4317
      http:
        enabled: true
        port: 4318
    zipkin:
      enabled: false

autoInstrumentation:
  enabled: false

profiling:
  enabled: false

alloy-metrics:
  enabled: true
  remoteConfig:
    enabled: false

alloy-singleton:
  enabled: true
  remoteConfig:
    enabled: false

alloy-logs:
  enabled: true
  remoteConfig:
    enabled: false

alloy-receiver:
  enabled: true
  remoteConfig:
    enabled: false
  alloy:
    extraPorts:
      - name: otlp-grpc
        port: 4317
        targetPort: 4317
        protocol: TCP
      - name: otlp-http
        port: 4318
        targetPort: 4318
        protocol: TCP

alloy-profiles:
  enabled: false
  remoteConfig:
    enabled: false
