controllers:
  main:
    strategy: Recreate
    containers:
      main:
        image:
          repository: linuxserver/prowlarr
          tag: latest
          pullPolicy: IfNotPresent
        env:
          TZ: America/Denver
          PUID: "1000"
          PGID: "100"
        resources:
          requests:
            cpu: 50m
            memory: 128Mi
          limits:
            cpu: 500m
            memory: 512Mi
        probes:
          liveness:
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /ping
                port: 9696
              initialDelaySeconds: 30
              periodSeconds: 10
          readiness:
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /ping
                port: 9696
              initialDelaySeconds: 10
              periodSeconds: 5
          startup:
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /ping
                port: 9696
              initialDelaySeconds: 15
              failureThreshold: 30
              periodSeconds: 5
service:
  main:
    controller: main
    ports:
      http:
        port: 9696
persistence:
  config:
    enabled: true
    type: persistentVolumeClaim
    accessMode: ReadWriteOnce
    size: 10Gi
    storageClass: local-path
    globalMounts:
      - path: /config
