defaultPodOptions:
  imagePullSecrets:
    - name: nexus-registry-pull

controllers:
  main:
    replicas: 1
    containers:
      main:
        image:
          repository: registry.saavylab.dev/saavy1/nexus-bot
          tag: f9f43905-70d3-4b32-bd34-52f5e7371c03
          pullPolicy: Always
        env:
          NODE_ENV: production
          OTEL_EXPORTER_OTLP_ENDPOINT: http://grafana-k8s-monitoring-alloy-receiver.alloy:4318
          ELYSIA_API_URL: http://nexus.nexus.svc.cluster.local:3000
          VALKEY_URL: redis://valkey.valkey.svc.cluster.local:6379
        envFrom:
          - secretRef:
              name: nexus-env
          - secretRef:
              name: nexus-bot-env
service:
  main:
    enabled: false
