name: CI

on:
  push:
    branches: [main]
    paths:
      - "nexus/**"
      - ".github/workflows/ci.yml"
  pull_request:
    branches: [main]
    paths:
      - "nexus/**"
      - ".github/workflows/ci.yml"

defaults:
  run:
    working-directory: nexus

jobs:
  ci:
    name: CI
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install --frozen-lockfile
      
      - name: Lint
        run: bun lint

      - name: Type typecheck
        run: bun typecheck
        
      - name: Type check
        run: bun check 

      - name: Test
        run: bun test